@model Web.ViewModels.BILFULL_VM

@{
    ViewData["Title"] = "Details";
   
}

<h1>Details</h1>
<div style="padding:120px;">
    <h1>Index</h1>

    
    <table class="table">
        <thead>
            @*<tr>
            <th>
                ID
            </th>
            <th>
                Data
            </th>
            <th>
                IDDetials
            </th>
            <th>
               Price
            </th>
            <th>
               QTY
            </th>
            <th>
                NAme
            </th>
            <th></th>
        </tr>*@
        </thead>
        <tbody>
            <tr>
                <td>@Model.BIL_HDR.BILCOD</td> <td colspan="4"></td>
                <td rowspan="3">
                    <div class="img-responsive" style="margin-bottom:20px">
                        <img src="~/Img/@Model.BIL_HDR.BILIMG" height="220" width="240" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">@Model.BIL_HDR.BILDAT</td>
            </tr>
            <tr>
                <td>@Model.BIL_HDR.BILPRC</td>
            </tr>
            <tr>
                <td>@Model.VNDNAM</td>
            </tr>
            @foreach (var item in Model.BILDTI_VM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DTLCOD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ITMPRC)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ITMQTY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ITMNAM)
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>

</div>
