@model Web.ViewModels.BILFULL_VM

@{
    ViewData["Title"] = "Details";
   
}

<h1>Details</h1>
<div style="padding:120px;">
    <h1>Index</h1>

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Data
                </th>
                <th>
                    IDDetials
                </th>
                <th>
                   Price
                </th>
                <th>
                   QTY
                </th>
                <th>
                    NAme
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BIL_HDR.BILCOD</td>
            </tr>
            <tr>
                <td>@Model.BIL_HDR.BILDAT</td>
            </tr>

            @foreach (var item in Model.BILDTI_VM)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DTLCOD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITMPRC)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ITMQTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITMNAM)
            </td>
            <td>
                @*<i class="fas fa-edit"></i>*@
                <a asp-action="Edit" class="btn btn-outline-dark"asp-route-id="@item.DTLCOD">Edit</a> |
                <a asp-action="Details" class="btn btn-outline-info"asp-route-id="@item.DTLCOD">Details</a> |
                <a asp-action="Delete" class="btn btn-outline-danger"asp-route-id="@item.DTLCOD">Delete</a>
            </td>
        </tr>
            }
        </tbody>
    </table>

</div>
