@model IList<Web.ViewModels.BILHDR_VM>
@{
    ViewData["Title"] = "index";
}
<h1>BILL Mangment</h1>

<button id="btnCreate" class="btn btn-primary">Create New</button>


<div id="Div1">

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Data
                </th>
                <th>
                    Vendoerss
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BILCOD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BILDAT)
                    </td>
                    @*<td>
                            <img src="~/img/portfolio/@item.ImageUrl" class="img-thumbnail" style="width:64px; height:64px;" />
                        </td*@>
                    <td>
                        @Html.DisplayFor(modelItem => item.VNDNAM)
                    </td>
                    <td>
                        @*<i class="fas fa-edit"></i>*@
                        <a asp-action="Edit" class="btn btn-outline-dark" asp-route-id="@item.BILCOD">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BILCOD" class="btn btn-outline-info">Details</a> |
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.BILCOD">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="container" id="Div2">

    <table class="table">
        @*<tr>
            <td><label>Price</label></td>
            <td><input type="text" id="price"></td>
        </tr>*@
        <tr>
            <td>
                <label> Data </label>
            </td>
            <td> <input type="text" id="my_date_picker"></td>
        </tr>
        <tr>
            <td>
                <label>img</label>
            </td>
            <td>
                <input type="file" id="FileUpload1" multiple />
                @*<input type="file" id="FileUpload1" />*@
        
            </td>
        </tr>

        <tr>
            <td><label>Vender</label></td>
            <
            <td><select id="VNDID">

                </select></td>
        </tr>
        <tr>
            <td>
                <button id="btnADD" class="btn btn-primary">ADD</button>
            </td>
            <td id="notify">

            </td>

        </tr>
    </table>
  
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function GetAllvendoers() {
        $.ajax({
            url: "https://localhost:44317/Home/GetAllVendors",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, Vendor) {
                    $("#VNDID").append("  <option value=" + Vendor.vndcod + ">" + Vendor.vndnam + "</option>")
                });
            },
            error: function (err) {
                alert(err);
            }

        });
    }
    $(document).ready(function () {
        $("#Div2").hide();
        $("#btnCreate").click(function () {
            console.log("DDd");
            $("#Div1").hide();
            $("#Div2").show();
            $("#my_date_picker").datepicker();
            GetAllvendoers();
        }); //end of btn click

        $('#btnADD').click(function () {
            
            // Checking whether FormData is available in browser  
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object  
                var File = new FormData();
                var Price = $("#price").val();
                var Data = $("#my_date_picker").val();
                var VendorId = $("#VNDID").val();
                // Looping over all files and add it to FormData object  
                for (var i = 0; i < files.length; i++) {
                    File.append(files[i].name, files[i]);
                }
                //  File.append('username', 'Mana');

                $.ajax({
                  
                    url: '"https://localhost:44317/Home/CreateHDR',
                    type: "POST",
                  //  contentType: false, // Not to set any content header  
                  //  processData: false, // Not to process data  
                    data: {
                        VNDCOD: VendorId,
                        BILDAT: Data,
                        /*BILPRC: Price,*/
                        File: File
                    },

                    success: function (data) {
                        $("#notify").text("Added Successfully")
                    },
                    error: function (err) {
                        $("#notify").text("Added failed")
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });


        console.log("ready!");
    });

</script>